@import 'public/base';
@font-face{
	font-family: myFirstFont;
	src: url('../font/hiragino.otf')
}
body, #wrapper, html {
    height: 100%;
}
.w1278{width:1278px;margin:0 auto;}
#wrapper{
    width: 100%;
    overflow-x: hidden;
    background-color:#edf2f8;
}
.header{
	width:100%;
	height:auto;
	margin-bottom:20px;
	.head{
		width:100%;
		height:62px;
		background-color:#2b3245;
		.left{
			height:62px;
			float:left;
			background:url("../images/header_head_bg.jpg") left center no-repeat;
			background-size:contain;
			.logo{
				float:left;
				margin:15px 0 0 5px;
				width:111px;
				height:31px;
				background:url("../images/3body_icon.png") 0 -55px no-repeat;
			}
			.user{
				position:relative;
				float:left;
				margin:17px 50px 0 20px;
				width:28px;
				height:28px;
				background-color:#383f52;
				border-radius:5px;
				&:before{
					content:"";
					position:absolute;
					left:50%;
					bottom:-15px;
					margin-left:-6px;
					width:0;
					height:0;
					border:6px solid;
					border-color:#383f52 transparent transparent transparent;
				}
				i{
					margin:5px;
					display:block;
					width:18px;
					height:18px;
					background:url("../images/3body_icon.png") -118px -55px no-repeat;
				}
			}
			ul{
				padding-top:17px;
				overflow:hidden;
				li{
					float:left;
					margin-left:24px;
					i{
						display:inline-block;
						width:28px;
						height:28px;
						border:1px solid;
						color:#c4c8d9;
						border-radius:5px;
						font:14px/28px myFirstFont, $publicFont;
						text-align:center;
					}
					span{
						margin-left:5px;
						color:#c4c8d9;
						font:14px/28px myFirstFont, $publicFont;
					}
				}
			}
		}
		.right{
			height:62px;
			float:right;
			p{
				margin-top:7px;
				float:left;
				i{
					margin-top:14px;
					float:left;
					display:inline-block;
					width:18px;
					height:19px;
					background:url("../images/3body_icon.png") -143px -55px no-repeat;
				}
				span{
					float:left;
					margin-left:5px;
					font:14px/48px myFirstFont, $publicFont;
					color:#b1b5c6;
				}
			}
			.setting{
				margin-left:36px;
			    margin-top:17px;
				float:left;
				width:28px;
				height:28px;
			    text-align:center;
				background-color:#383f52;
				border-radius:5px;
				i{
					margin-top:5px;
					display:inline-block;
					width:19px;
					height:19px;
					background:url("../images/3body_icon.png") -166px -55px no-repeat;
				}
			}
			.close{
				margin-top:23px;
				margin-left:20px;
				float:left;
				display:inline-block;
				width:19px;
				height:18px;
				background:url("../images/3body_icon.png") -190px -55px no-repeat;
			}
		}
	}
	.nav{
		width:100%;
		height:62px;
		background-color:#fff;
		box-shadow:1px 3px 10px #e5ecf3;
		.nav-content{
			ul{
				padding-top:11px;
				li{
					float:left;
					margin-right:46px;
					i{
						float:left;
						// border:1px solid red;
						width:40px;
						height:40px;
						background:url("../images/3body_icon.png") no-repeat;
					}
					i.i1{
						background-position:-2px -89px;
					}
					i.i2{
						background-position:-45px -89px;
					}
					i.i3{
						background-position:-89px -89px;
					}
					i.i4{
						background-position:-132px -89px;
					}
					i.i5{
						background-position:-176px -89px;
					}
					i.i6{
						background-position:-219px -89px;
					}
					i.i7{
						background-position:-263px -89px;
					}
					i.i8{
						background-position:-308px -89px;
					}
					i.i9{
						background-position:-354px -89px;
					}
					i.i10{
						background-position:-401px -89px;
					}
					i.i11{
						background-position:-445px -89px;
					}
					span{
						float:left;
						margin-left:5px;
						font:14px/40px myFirstFont, $publicFont;
						color:#323a4d;
					}
				}
				li.last{
					margin-right:0;
				}
				li.on{
					i.i1{
						background-position:-1px -133px;
					}
					i.i2{
						background-position:-44px -133px;
					}
					i.i3{
						background-position:-87px -133px;
					}
					i.i4{
						background-position:-132px -133px;
					}
					i.i5{
						background-position:-176px -133px;
					}
					i.i6{
						background-position:-220px -133px;
					}
					i.i7{
						background-position:-265px -133px;
					}
					i.i8{
						background-position:-310px -133px;
					}
					i.i9{
						background-position:-356px -133px;
					}
					i.i10{
						background-position:-402px -133px;
					}
					i.i11{
						background-position:-447px -133px;
					}
				}
			}
		}
	}
	.user-content{
		position:fixed;
		left:0;
		top:62px;
		right:0;
		display:none;
		height:62px;
		background:rgba(56,63,82,.8);
		.hotel-name{
		    padding-top: 17px;
			float:left;
			.room-icon{
				float:left;
			    width: 28px;
			    height: 28px;
			    background-color: #383f52;
			    border-radius: 5px;
			    i{
			    	margin: 5px;
				    display: block;
				    width: 16px;
				    height: 18px;
				    background: url("../images/3body_icon.png") -477px 0 no-repeat;
			    }
			}
			a{
				float:left;
				margin-left:10px;
				font:14px/28px myFirstFont, $publicFont;
				color:#c4c8d9;
			}
		}
		.user-name{
			padding-top: 17px;
			float:left;
			margin-left:45px;
			.user-img{
				float: left;
				i{
					float: left;
					display: block;
					width: 28px;
				    height: 28px;
				    border-radius: 5px;
				    overflow: hidden;
				}
				span{
					float:left;
					margin-left:5px;
					font:14px/28px myFirstFont, $publicFont;
					color:#c4c8d9;
				}
			}
			>a{
				float:left;
				margin-left:20px;
				font:14px/28px myFirstFont, $publicFont;
				color:#00a8ec;
			}
		}
		.user-content-before{
			position:relative;
			padding-left:134px;
			&:before{
				content:"";
				position:absolute;
				left:144px;
				top:-12px;
				width:0;
				height:0;
				border:6px solid;
				border-color:transparent transparent #383f52 transparent;
			}
		}
	}
	.user-content.on{display:block;}
}
#page-wrapper{
	box-shadow:1px 3px 5px #e5ecf3;
	overflow:hidden;
	.row {
	    margin-right:-30px;
	    margin-left:-15px;
	}
}
.footer{
	width:100%;
	height:auto;
	p{
    	font:12px/36px myFirstFont, $publicFont;
		color:#747474;
		text-align:center;
    }
}
.arrow-right {
    position:relative;
    &:after {
	    content: '';
	    position: absolute;
	    top:50%;
	    right:8px;
	    width:10px;
	    height:10px;
	    border:1px solid;
	    border-bottom: 0;
	    border-right: 0;
	    margin-top: -5px;
	    color: #fff;
	    -webkit-transform: rotateZ(135deg);
	    transform: rotateZ(135deg)
	}
}
.arrow-bottom {
    position:relative;
    &:after {
	    content: '';
	    position: absolute;
	    top:50%;
        right: -15px;
	    width: 6px;
	    height: 6px;
	    border: 1px solid;
	    border-bottom: 0;
	    border-right: 0;
	    margin-top: -6px;
	    color: #00a8ec;
	    @include transform(rotateZ(-135deg));
	}
}
