@charset "UTF-8";
/* =================================================================
* Reset Style for PC
* Author:雪丘行||Bandow
* Author URI:http://www.unll123.com/
* Date:2017-10-20
* Version:0.0.1
* ================================================================== */
html {
  font-family: "Microsoft YaHei", Helvetica, Tahoma, Arial, "Hiragino Sans GB", "Hiragino Sans GB W3", STXihei, STHeiti, Heiti, SimSun, sans-serif;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, div, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
  /*把所有元素的内边距和边框不再会增加它的宽度*/
  -moz-box-sizing: border-box;
  /* Firefox */
  -webkit-box-sizing: border-box;
  /* Safari */
  box-sizing: border-box;
}

html body {
  width: 100%;
  height: 100%;
}

ol, ul {
  /*去掉列表点*/
  list-style: none;
}

table {
  /*去掉表格的双行线*/
  border-collapse: collapse;
  border-spacing: 0;
}

/*取消a标签在移动端点击时的背景颜色*/
a, a:hover, a:active, a:visited, a:link, a:focus {
  -webkit-tap-highlight-color: transparent;
  -webkit-tap-highlight-color: transparent;
  outline: none;
  background: none;
  text-decoration: none;
}

body, #wrapper, html {
  height: 100%;
}

.w1278 {
  width: 1278px;
  margin: 0 auto;
}

#wrapper {
  width: 100%;
  overflow-x: hidden;
  background-color: #edf2f8;
}

.header {
  width: 100%;
  height: auto;
  margin-bottom: 20px;
}
.header .head {
  width: 100%;
  height: 62px;
  background-color: #2b3245;
}
.header .head .left {
  height: 62px;
  float: left;
  background: url("../images/header_head_bg.jpg") left center no-repeat;
  background-size: contain;
}
.header .head .left .logo {
  float: left;
  margin: 15px 0 0 5px;
  width: 111px;
  height: 31px;
  background: url("../images/3body_icon.png") 0 -55px no-repeat;
}
.header .head .left .user {
  position: relative;
  float: left;
  margin: 17px 50px 0 20px;
  width: 28px;
  height: 28px;
  background-color: #383f52;
  border-radius: 5px;
}
.header .head .left .user:before {
  content: "";
  position: absolute;
  left: 50%;
  bottom: -15px;
  margin-left: -6px;
  width: 0;
  height: 0;
  border: 6px solid;
  border-color: #383f52 transparent transparent transparent;
}
.header .head .left .user i {
  margin: 5px;
  display: block;
  width: 18px;
  height: 18px;
  background: url("../images/3body_icon.png") -118px -55px no-repeat;
}
.header .head .left ul {
  padding-top: 17px;
  overflow: hidden;
}
.header .head .left ul li {
  float: left;
  margin-left: 24px;
}
.header .head .left ul li i {
  display: inline-block;
  width: 28px;
  height: 28px;
  border: 1px solid;
  color: #c4c8d9;
  border-radius: 5px;
  font: 14px/28px "Microsoft YaHei", Helvetica, Tahoma, Arial, "Hiragino Sans GB", "Hiragino Sans GB W3", STXihei, STHeiti, Heiti, SimSun, sans-serif;
  text-align: center;
}
.header .head .left ul li span {
  margin-left: 5px;
  color: #c4c8d9;
  font: 14px/28px "Microsoft YaHei", Helvetica, Tahoma, Arial, "Hiragino Sans GB", "Hiragino Sans GB W3", STXihei, STHeiti, Heiti, SimSun, sans-serif;
}
.header .head .right {
  height: 62px;
  float: right;
}
.header .head .right p {
  margin-top: 7px;
  float: left;
}
.header .head .right p i {
  margin-top: 14px;
  float: left;
  display: inline-block;
  width: 18px;
  height: 19px;
  background: url("../images/3body_icon.png") -143px -55px no-repeat;
}
.header .head .right p span {
  float: left;
  margin-left: 5px;
  font: 14px/48px "Microsoft YaHei", Helvetica, Tahoma, Arial, "Hiragino Sans GB", "Hiragino Sans GB W3", STXihei, STHeiti, Heiti, SimSun, sans-serif;
  color: #b1b5c6;
}
.header .head .right .setting {
  margin-left: 36px;
  margin-top: 17px;
  float: left;
  width: 28px;
  height: 28px;
  text-align: center;
  background-color: #383f52;
  border-radius: 5px;
}
.header .head .right .setting i {
  margin-top: 5px;
  display: inline-block;
  width: 19px;
  height: 19px;
  background: url("../images/3body_icon.png") -166px -55px no-repeat;
}
.header .head .right .close {
  margin-top: 23px;
  margin-left: 20px;
  float: left;
  display: inline-block;
  width: 19px;
  height: 18px;
  background: url("../images/3body_icon.png") -190px -55px no-repeat;
}
.header .nav {
  width: 100%;
  height: 62px;
  background-color: #fff;
  box-shadow: 1px 3px 10px #e5ecf3;
}
.header .nav .nav-content ul {
  padding-top: 11px;
}
.header .nav .nav-content ul li {
  float: left;
  margin-right: 46px;
}
.header .nav .nav-content ul li i {
  float: left;
  width: 40px;
  height: 40px;
  background: url("../images/3body_icon.png") no-repeat;
}
.header .nav .nav-content ul li i.i1 {
  background-position: -2px -89px;
}
.header .nav .nav-content ul li i.i2 {
  background-position: -45px -89px;
}
.header .nav .nav-content ul li i.i3 {
  background-position: -89px -89px;
}
.header .nav .nav-content ul li i.i4 {
  background-position: -132px -89px;
}
.header .nav .nav-content ul li i.i5 {
  background-position: -176px -89px;
}
.header .nav .nav-content ul li i.i6 {
  background-position: -219px -89px;
}
.header .nav .nav-content ul li i.i7 {
  background-position: -263px -89px;
}
.header .nav .nav-content ul li i.i8 {
  background-position: -308px -89px;
}
.header .nav .nav-content ul li i.i9 {
  background-position: -354px -89px;
}
.header .nav .nav-content ul li i.i10 {
  background-position: -401px -89px;
}
.header .nav .nav-content ul li i.i11 {
  background-position: -445px -89px;
}
.header .nav .nav-content ul li span {
  float: left;
  margin-left: 5px;
  font: 14px/40px "Microsoft YaHei", Helvetica, Tahoma, Arial, "Hiragino Sans GB", "Hiragino Sans GB W3", STXihei, STHeiti, Heiti, SimSun, sans-serif;
  color: #323a4d;
}
.header .nav .nav-content ul li.last {
  margin-right: 0;
}
.header .nav .nav-content ul li.on i.i1 {
  background-position: -1px -133px;
}
.header .nav .nav-content ul li.on i.i2 {
  background-position: -44px -133px;
}
.header .nav .nav-content ul li.on i.i3 {
  background-position: -87px -133px;
}
.header .nav .nav-content ul li.on i.i4 {
  background-position: -132px -133px;
}
.header .nav .nav-content ul li.on i.i5 {
  background-position: -176px -133px;
}
.header .nav .nav-content ul li.on i.i6 {
  background-position: -220px -133px;
}
.header .nav .nav-content ul li.on i.i7 {
  background-position: -265px -133px;
}
.header .nav .nav-content ul li.on i.i8 {
  background-position: -310px -133px;
}
.header .nav .nav-content ul li.on i.i9 {
  background-position: -356px -133px;
}
.header .nav .nav-content ul li.on i.i10 {
  background-position: -402px -133px;
}
.header .nav .nav-content ul li.on i.i11 {
  background-position: -447px -133px;
}
.header .user-content {
  position: fixed;
  left: 0;
  top: 62px;
  right: 0;
  display: none;
  height: 62px;
  background: rgba(56, 63, 82, 0.8);
}
.header .user-content .hotel-name {
  padding-top: 17px;
  float: left;
}
.header .user-content .hotel-name .room-icon {
  float: left;
  width: 28px;
  height: 28px;
  background-color: #383f52;
  border-radius: 5px;
}
.header .user-content .hotel-name .room-icon i {
  margin: 5px;
  display: block;
  width: 16px;
  height: 18px;
  background: url("../images/3body_icon.png") -477px 0 no-repeat;
}
.header .user-content .hotel-name a {
  float: left;
  margin-left: 10px;
  font: 14px/28px "Microsoft YaHei", Helvetica, Tahoma, Arial, "Hiragino Sans GB", "Hiragino Sans GB W3", STXihei, STHeiti, Heiti, SimSun, sans-serif;
  color: #c4c8d9;
}
.header .user-content .user-name {
  padding-top: 17px;
  float: left;
  margin-left: 45px;
}
.header .user-content .user-name .user-img {
  float: left;
}
.header .user-content .user-name .user-img i {
  float: left;
  display: block;
  width: 28px;
  height: 28px;
  border-radius: 5px;
  overflow: hidden;
}
.header .user-content .user-name .user-img span {
  float: left;
  margin-left: 5px;
  font: 14px/28px "Microsoft YaHei", Helvetica, Tahoma, Arial, "Hiragino Sans GB", "Hiragino Sans GB W3", STXihei, STHeiti, Heiti, SimSun, sans-serif;
  color: #c4c8d9;
}
.header .user-content .user-name > a {
  float: left;
  margin-left: 20px;
  font: 14px/28px "Microsoft YaHei", Helvetica, Tahoma, Arial, "Hiragino Sans GB", "Hiragino Sans GB W3", STXihei, STHeiti, Heiti, SimSun, sans-serif;
  color: #00a8ec;
}
.header .user-content .user-content-before {
  position: relative;
  padding-left: 134px;
}
.header .user-content .user-content-before:before {
  content: "";
  position: absolute;
  left: 144px;
  top: -12px;
  width: 0;
  height: 0;
  border: 6px solid;
  border-color: transparent transparent #383f52 transparent;
}
.header .user-content.on {
  display: block;
}

#page-wrapper {
  box-shadow: 1px 3px 5px #e5ecf3;
  overflow: hidden;
}
#page-wrapper .row {
  margin-right: -30px;
  margin-left: -15px;
}

.footer {
  width: 100%;
  height: auto;
}
.footer p {
  font: 12px/36px "Microsoft YaHei", Helvetica, Tahoma, Arial, "Hiragino Sans GB", "Hiragino Sans GB W3", STXihei, STHeiti, Heiti, SimSun, sans-serif;
  color: #747474;
  text-align: center;
}

.arrow-right {
  position: relative;
}
.arrow-right:after {
  content: '';
  position: absolute;
  top: 50%;
  right: 8px;
  width: 10px;
  height: 10px;
  border: 1px solid;
  border-bottom: 0;
  border-right: 0;
  margin-top: -5px;
  color: #fff;
  -webkit-transform: rotateZ(135deg);
  transform: rotateZ(135deg);
}

.arrow-bottom {
  position: relative;
}
.arrow-bottom:after {
  content: '';
  position: absolute;
  top: 50%;
  right: -15px;
  width: 6px;
  height: 6px;
  border: 1px solid;
  border-bottom: 0;
  border-right: 0;
  margin-top: -6px;
  color: #00a8ec;
  -moz-transform: rotateZ(-135deg);
  -o-transform: rotateZ(-135deg);
  -ms-transform: rotateZ(-135deg);
  -webkit-transform: rotateZ(-135deg);
  transform: rotateZ(-135deg);
}

/*# sourceMappingURL=3body.css.map */
